doctype html
html(lang='en')
  head
    title Reset Password
  body
     

      div(style='font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;')
        table(style='width: 100%;')
          tr
            td
            td(bgcolor='#FFFFFF ')
              div(style='padding: 15px; max-width: 600px;margin: 0 auto;display: block; border-radius: 0px;padding: 0px; border: 1px solid lightseagreen;')
                table(style='width: 100%;background: #222 ;')
                  tr
                    td
                    td
                      div
                        table(width='100%')
                          tr
                            td(rowspan='2', style='text-align:center;padding:10px;')
                              div(style='float:left; ')
                              span(style='color:white;float:right;font-size: 32px;font-style: italic;margin-top: 16px; padding:10px; font-size: 14px; font-weight:normal;')
                                | DOOR
                                span
                    td
                table(style='padding: 10px;font-size:14px; width:100%;')
                  tr
                    td(style='padding:10px;font-size:14px; width:100%;')
                      p Hi #{name},
                      p
                        br
                        |  You are receiving this because you have successfully registered for bug tracker
                      p
                        a(href=verifyUrl)
                          button Click here to reset your password
                      p
                        | Please click on the following link, or paste into your browser to complete the verification process:
                        br
                        br
                      p #{verifyUrl}                    
                        br
                        br
                        |  If you did not request this, please ignore.
                      p  
                      p Thanks,
                      p DOOR Team.
                      // /Callout Panel
                      // FOOTER
                  tr
                    td
                      div(align='center', style='font-size:12px; margin-top:20px; padding:5px; width:100%; background:#eee;')
                        
                       

