html
    head
        title Welcome to LuvCheck
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:700,300', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Nunito:300,700', rel='stylesheet', type='text/css')
    body
        style.
            @import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300);
            @import url(http://fonts.googleapis.com/css?family=Nunito:300,700);
            body, td, input, textarea, select {
                font-family: 'Open Sans', sans-serif;
            }
            .top .im {
                color: #23bab5 !important;
            }
            .center .im {
                color: #fff !important;
            }
        table.outer_section(style="background-color: #f5f6f7; margin: 0 auto; width:100%; font-family: 'Open Sans', sans-serif;")
            tr
                td
                    center
                        table.inner_section(width='600', style='margin-top: 30px; margin-bottom: 30px;')
                            tr
                                td
                                    table(width='600', height='78', style='background-color: steelblue; border-bottom: 3px solid #C70039;', cellspacing='0', cellpadding='0')
                                        tr
                                            td.inner_containt
                                                table(style='margin:0px 90px 0px 176px;')
                                                    tr
                                                        td
                                                            img.image(src='https://www.dropbox.com/s/g2qkz0hcsmhuu8w/download.png?raw=1', style='display:block;', width='220', height='135')
                                    table(width='600', style='background-color: #fff;', cellspacing='0', cellpadding='0')
                                        tr
                                            td.inner_containt(valign='top', style=" padding:52px 90px 0px 90px;; font-size:25px; font-family: 'Open Sans', sans-serif; color:#37383f;")
                                                table
                                                    tr
                                                        td(valign='top')
                                                            p(style="font-weight:300; font-family: 'Open Sans', sans-serif; margin:0; padding:0; line-height: 30px;")
                                                                | Welcome to 
                                                                b(style='font-weight:700;') LuvCheck
                                        tr
                                            td.inner_containt(valign='top', style="font-size:16px; font-weight:lighter; color:#37383f; font-family: 'Nunito', sans-serif; font-weight:300")
                                                table(style='margin:21px 90px 35px 90px;', cellspacing='0', cellpadding='0')
                                                    tr
                                                        td.top(valign='top')
                                                            p(style="font-family: 'Nunito', sans-serif; margin:0; padding:0; line-height:24px;")
                                                                | Hi There
                                                                br
                                                                | Thank you for signing up for Luvcheck.
                                    table(width='600', style='background-color: #fff;', cellspacing='0', cellpadding='0')
                                        tr
                                            td.inner_containt(style="font-size:16px; font-weight:300; font-family: 'Open Sans', sans-serif; ")
                                                table(style='margin:47px 90px 0px 90px;', cellspacing='0', cellpadding='0')
                                                    tr
                                                        td
                                                            p(style="font-family: 'Open Sans', sans-serif; margin:0; font-weight:300; line-height:20px; color:#37383f;")
                                                                | Cheers,
                                                                br
                                                                | The LuvCheck Team
                                        tr
                                            td.inner_containt(style="font-size:12px; font-family: 'Open Sans', sans-serif; font-weight:300; color:#37383f;")
                                                table(style='margin:0px 90px 47px 90px;', cellspacing='0', cellpadding='0')
                                                    tr
                                                        td
                                                            p(style="font-family: 'Nunito', sans-serif; margin:0; line-height:18px;")
                                                                | Contact Info: 
                                                                a(style="text-decoration:none; font-family: 'Nunito', sans-serif; color:#37383f;", href='mailto:support@luvcheck.com') support@luvcheck.com
